html {
    background-color: #f9f9f9;
}
#container {
    background-color: #f9f9f9;
}

body {
    margin: 0;
    font-family: Arial, "Century Gothic";
    background-color: #f9f9f9;
}
a {
    text-decoration: none;
    color: black;
}
header {
    width: 60%;
    min-height: 50px;
    background: #f9f9f9;
    margin: 0 auto;
}

main {
    width: 60%;
    min-height: 500px;
    background: #f9f9f9;
    margin: 0 auto;
    padding:10px;
}

#headerButtonContainer {
    float: right;
}

.headerButton {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    margin:5px;
}

.SubmitButton {
    background-color: deepskyblue;
    border: none;
    height: 30px;
    margin-top: 20px;
}

.ResetButton {
    background-color: white;
    border: none;
    height: 30px;
    margin-top: 30px;
}

#loginButton {
    background: deepskyblue;
}

#registerButton {
    background: white;
}

.floatClear {
    clear: both;
}

.inseratPreview {
    background: lightgrey;
    border-bottom: solid black 5px;
}